Repository devTrivedi1/MajorProject, pull requests merged in 2024-03, with the labels that each got.

#112 Telekinetic objects, Explosive & Knockback throwables
  Assets/PROJECT/Scenes/TestScenes/Telekinesis/TelekinesisTesting.unity
  Assets/PROJECT/Scripts/GeneralHelpers/CoroutineWorkHorse.cs
  Assets/PROJECT/Scripts/GeneralHelpers/CoroutineWorkHorse.cs.meta
  Assets/PROJECT/Scripts/GeneralHelpers/PhysicsUtilities.cs
  Assets/PROJECT/Scripts/GeneralHelpers/PhysicsUtilities.cs.meta
  Assets/PROJECT/Scripts/GeneralHelpers/Targetable.cs
  Assets/PROJECT/Scripts/GeneralHelpers/Targeting.cs
  Assets/PROJECT/Scripts/GeneralHelpers/TestTargetable.cs
  Assets/PROJECT/Scripts/Interfaces/IDamagable.cs
  Assets/PROJECT/Scripts/Interfaces/IDamagable.cs.meta
  Assets/PROJECT/Scripts/Interfaces/IResettable.cs
  Assets/PROJECT/Scripts/Interfaces/IResettable.cs.meta
  Assets/PROJECT/Scripts/Telekinesis/Telekinesis.cs
  Assets/PROJECT/Scripts/Telekinesis/Telekinetic Objects.meta
  Assets/PROJECT/Scripts/Telekinesis/Telekinetic Objects/KnockbackThrowable.cs
  Assets/PROJECT/Scripts/Telekinesis/Telekinetic Objects/KnockbackThrowable.cs.meta
  Assets/PROJECT/Scripts/Telekinesis/TelekineticObject.cs
  Assets/PROJECT/Scripts/Telekinesis/TelekineticObjects.meta
Labels: Telekinesis

#126 Resetting functionality
  Assets/PROJECT/Scenes/TestScenes/Level Objectives.meta
  Assets/PROJECT/Scenes/TestScenes/Level Objectives/Objective Testing.unity
  Assets/PROJECT/Scenes/TestScenes/Level Objectives/Objective Testing.unity.meta
  Assets/PROJECT/Scenes/TestScenes/Telekinesis/TelekinesisTesting.unity
  Assets/PROJECT/Scripts/Interfaces/IResettable.cs
  Assets/PROJECT/Scripts/Interfaces/IResettableGO.cs
  Assets/PROJECT/Scripts/Interfaces/IResettableGO.cs.meta
  Assets/PROJECT/Scripts/Interfaces/IResettableRb.cs
  Assets/PROJECT/Scripts/Interfaces/IResettableRb.cs.meta
  Assets/PROJECT/Scripts/Interfaces/IResettableTransform.cs
  Assets/PROJECT/Scripts/Interfaces/IResettableTransform.cs.meta
  Assets/PROJECT/Scripts/MiscellaneousHelpers/Resettable Components.meta
  Assets/PROJECT/Scripts/MiscellaneousHelpers/Resettable Components/ComponentState.cs
  Assets/PROJECT/Scripts/MiscellaneousHelpers/Resettable Components/ComponentState.cs.meta
  Assets/PROJECT/Scripts/MiscellaneousHelpers/Resettable Components/GameObjectState.cs
  Assets/PROJECT/Scripts/MiscellaneousHelpers/Resettable Components/GameObjectState.cs.meta
  Assets/PROJECT/Scripts/MiscellaneousHelpers/Resettable Components/RigidbodyState.cs
  Assets/PROJECT/Scripts/MiscellaneousHelpers/Resettable Components/RigidbodyState.cs.meta
  Assets/PROJECT/Scripts/MiscellaneousHelpers/Resettable Components/TransformState.cs
  Assets/PROJECT/Scripts/MiscellaneousHelpers/Resettable Components/TransformState.cs.meta
  Assets/PROJECT/Scripts/MiscellaneousHelpers/Resetter.cs
  Assets/PROJECT/Scripts/MiscellaneousHelpers/Resetter.cs.meta
  Assets/PROJECT/Scripts/MiscellaneousHelpers/TestTargetable.cs
  Assets/PROJECT/Scripts/Objectives.meta
  Assets/PROJECT/Scripts/Objectives/DestroyEnemies.cs
  Assets/PROJECT/Scripts/Objectives/DestroyEnemies.cs.meta
  Assets/PROJECT/Scripts/Objectives/DestroyTargets.cs
  Assets/PROJECT/Scripts/Objectives/DestroyTargets.cs.meta
  Assets/PROJECT/Scripts/Objectives/Objective.cs
  Assets/PROJECT/Scripts/Objectives/Objective.cs.meta
Labels: Systems

#129 Slowdown
  Assets/PROJECT/Prefabs/UiRelated/Slowdown Segment.prefab
  Assets/PROJECT/Prefabs/UiRelated/Slowdown Segment.prefab.meta
  Assets/PROJECT/Scenes/TestScenes/Combat.meta
  Assets/PROJECT/Scenes/TestScenes/Combat/SlowdownTesting.unity
  Assets/PROJECT/Scenes/TestScenes/Combat/SlowdownTesting.unity.meta
  Assets/PROJECT/Scenes/TestScenes/Combat/TelekinesisTesting.unity
  Assets/PROJECT/Scenes/TestScenes/Combat/TelekinesisTesting.unity.meta
  Assets/PROJECT/Scripts/Managers/GameManager.cs
  Assets/PROJECT/Scripts/PlayerRelated/PlayerCombat/Telekinesis/Telekinesis.cs
  Assets/PROJECT/Scripts/PlayerRelated/PlayerCombat/Telekinesis/Telekinetic Objects/KnockbackThrowable.cs
  Assets/PROJECT/Scripts/PlayerRelated/PlayerCombat/Telekinesis/TelekineticObject.cs
  Assets/PROJECT/Scripts/PlayerRelated/PlayerCombat/TimeSlowdown.cs
  Assets/PROJECT/Scripts/PlayerRelated/PlayerCombat/TimeSlowdown.cs.meta
Labels: Systems, Combat, Player

#131 Slope physics
  Assets/PROJECT/Scenes/TestScenes/Movement/MovementPlayground.unity
  Assets/PROJECT/Scenes/TestScenes/Movement/MovementPlayground.unity.meta
  Assets/PROJECT/Scenes/TestScenes/Movement/RailgrindingTest.unity.meta
  Assets/PROJECT/Scripts/PlayerRelated/PlayerMovment/Movement.cs
  Assets/PROJECT/Scripts/PlayerRelated/PlayerMovment/SlopePhysics.cs
  Assets/PROJECT/Scripts/PlayerRelated/PlayerMovment/SlopePhysics.cs.meta
  ProjectSettings/EditorBuildSettings.asset
Labels: Movement, Player
